:root {
    --color-white: #fff;
    --color-dark: #000;
    --color-orange: #ffa500;
}

.navbar.fkNavbar {
    padding-top: 0;
    padding-bottom: 0;
}

.fkNavbar .navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 20px;
}

.navbar.fkNavbar {
    background-color: var(--color-dark);
}

.fkNavbar .navbar-nav .active>.nav-link,
.fkNavbar .navbar-nav .nav-link.active,
.fkNavbar .navbar-nav .nav-link.show{
    font-weight: bold;
}

.fkNavbar .nav-link{
    font-weight: bold;
    font-size: 18px;
}

.fkNavbar .navbar-nav .active>.nav-link,
.fkNavbar .navbar-nav .nav-link.active,
.fkNavbar .navbar-nav .nav-link.show,
.fkNavbar .navbar-nav .show>.nav-link,
.fkNavbar .navbar-nav .nav-link:focus,
.fkNavbar .navbar-nav .nav-link:hover {
    color: var(--color-white);
    /* border-bottom: 4px solid var(--color-orange); */
    background-color: var(--color-white);
    color: var(--color-dark);
}

.fkNavbar .navbar-nav .nav-link {
    color: var(--color-white);
    line-height: 56px;
    height: 56px;
    padding-top: 0;
    padding-bottom: 0;
}

.fkNavbar .navbar-toggler {
    border-color: var(--color-white);
}


@media all and (min-width:992px) {

    .fkNavbar .nav-link {
        margin-right: 6px;
    }
}

@media all and (max-width:768px) {
    .navbar.fkNavbar {
        padding: 0;
    }
    .fkNavbar .navbar-toggler {
        margin-right: 20px;
    }
    .fkNavbar .nav-link {
        padding-left: 20px;
        margin-top: 3px;
    }
}


/* ############# mainslider css starts here ################ */


.mainSlider .carousel-inner,
.mainSlider .carousel-item>img {
    height: 400px;
}

.mainSlider .carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}


.mainSlider .carousel-item>img {
    object-fit: cover;
}


/* ############# mainParallax css starts here ################ */

.mainParallax{
    background-image: url(../images/n1\ \(12\).jpg);
}

.videoInfo{
    background-image: url(../images/n1\ \(3\).jpg);
}

.mainParallax, .videoInfo {
    /* background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url(../images/image4.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.mainParallax::before,
.videoInfo::before{
    content: "";
    top: 0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

@media all and (max-width:600px) {
    .laptopInfo {
        text-align: center;
    }
}

.imgGallary img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.newsInfo{
    background-color: whitesmoke;
}

@media all and (max-width:425px) {
    .newsInfo .mainForm{
          display: contents; 
    }
}

.theUltimateCoders{
    background: url(../images/code2.jpg) no-repeat center/cover;
    color: var(--color-white);
    background-attachment: fixed;
    font-style: normal;
}



/* ################ css for aboutus for laptopInfo ############### */

.laptopInfo .row{
    margin-bottom: 60px;
}


/* ########### css for aboutus for feedbackInfo ############# */

